.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0% 10% 0% 5%;
  color: white;
}

.routes{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  gap: 15%;
}

a{
  text-decoration: none !important;
}

li{
  color: white;
}

li:hover{
  color: #a9a8ff;
}

hr{
  margin: 0% 2% 0% 2%;
  border: 0.5px solid rgb(44, 44, 44);
}

.phrase{
  color: rgb(169, 168, 255);
}

.name{
  font-size: 90px;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  scrollbar-width: none;
}

.front-stack{
  margin: 6% 6% 6% 6%;
  width: 90%;
}

.text{
  margin-top: 2%;
}

.fade{
  font-weight: 200;
  opacity: 0.6;
}

.passions{
  font-weight: 200;
  opacity: 0.6;
}
.button-container{
  display: flex;
  flex-direction: row;
  gap: 2.5%;
  margin-top: 2.5%;
}
.button{
  background-color: rgb(31, 31, 31);
  color: white;
  border: 1px solid rgb(31, 31, 31);
  border-radius: 8px;
  padding: 6px 8px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.button:hover{
  background-color: rgb(59, 59, 59);
}

.about{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info{
  padding: 1% 0% 1% 0%;
  width: 50%;
}

.image{
  height: 250px;
  border-radius: 50%;
  margin-left: 10%;
}

.project-card{
  min-height: 20%;
  width: 40%;
  background-color: rgb(31, 31, 31);
  border: 0.5px solid rgb(44, 44, 44);
  border-radius: 11px;
  margin: 3% 0% 3% 0%;
  /* position: relative;
  padding-bottom: 0px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.image-project-container{
  height: 275px;
  width: 100%;
  overflow: hidden; 
}

.image-p{
  width: 100%;
  height: auto;
  border-radius: 11px 11px 0px 0px;
}

.internal-projectcard-text{
  padding: 0% 2% 2% 2%;
  display: flex;
  flex-direction: column;
}

.stackName{
  background-color: #a9a8ff;
  padding: 7px;
  border-radius: 8px;
}

.classHolder{
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* position: absolute;
  bottom: 2%; */
  flex-wrap: wrap;
}

.project-space{
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.cert-card{
  height: 10%;
  width: 20%;
  background-color: rgb(31, 31, 31);
  padding: 1%;
  border: 0.5px solid rgb(44, 44, 44);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.cert-image{
  width: 100%;
  height: 40%;
  padding: 2% 0% 2% 0%;
}

.img-cert-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cert-link{
  color: white;
}

.cert-link:hover{
  color: rgb(88, 88, 88);
}

.cert-stack{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
}

#keep-in-touch-title{
  font-size: 300%;
}

.stack-class-holder{
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.project-element{
  width: 80%;
  height: 30%;
  border: 0.5px solid rgb(44, 44, 44);
  border-radius: 11px;
  margin-bottom: 5%;
  overflow: hidden;
}

.project-text{
  padding: 1%;
}

.project-image-container{
  height: 490px;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #100f0f, rgb(26, 26, 26));;
  border-radius: 11px 11px 0px 0px;
  overflow: hidden;
}

.project-image{
  height: 490px;
  width: 100%;
  border-radius: 11px 11px 0px 0px;
  object-fit:contain;
  filter: none !important;
  z-index: 1;
}

.project-link{
  color: #a9a8ff;
}

.project-link:hover{
  color: rgb(145, 14, 226);
}

.terminal-container{
  background-color: black;
  border: 2px solid white;
  border-radius: 11px;
  z-index: 10;
  position: fixed;
  top: 75px;
  left: 25%;
  height: 400px;
  width: 50%;
  padding: 0.5%;
}

.nano-ui{
  background-color: white;
  color: black;
  margin-top: 5%;
}

.terminal-button{
  margin-bottom: 1%;
  border-radius: 50%;
  border: 1px solid red;
  background-color: red;
}

@media (max-width:480px) {
  .header{
    font-size: small;
    justify-content:space-between; 
    padding: 0% 5% 0% 5%;
  }

  .page-indicator{
    font-size: medium;
  }

  html{
    width: 100%;
    overflow-x: hidden;
  }

  .greet{
    font-size: 18px;
  }

  .name{
    font-size: 44px;
  }

  .text{
    font-size: 15px;
  }

  .about{
    flex-direction: column;
    align-items: start;
    width: 100vw;
  }

  .info{
    width: 85vw;
  }

  .image{
    margin-top: 30px;
    margin-left: 15%;
  } 

  .image-project-container{
    height: 150px;
  }

  .project-space{
    flex-direction: column;
  }

  .project-card{
    width: 90vw;
  }

  .classHolder{
    position: relative;
  }

  .cert-stack{
    flex-direction: column; 
    align-items: center;
  }

  .cert-card{
    width: 50%;
    padding: 4%;
  }

  .project-image{
    height: 200px;
  }

  .project-image-container{
    height: 200px;
  }

  .project-element{
    width: 87vw;
  }

  .project-text{
    padding: 2%;
  }

  .stack-class-holder{
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px){
  .project-space{
    flex-direction: column;
  }

  .project-card{
    width: 80vw;
  }
}